@import './variables.less';

body {
  margin: 0 auto;
  width: 100%;
  font-family: HelveticaNeue proxima-nova, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", SimHei, "ST Heiti", "WenQuanYi Zen Hei Sharp";
  -webkit-font-smoothing: antialiased;
}

.markdown-content {
  padding: 1em 1em;
  font-size: 16px;
  color: #333;
  p {
    text-indent: 2em;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 20px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      border: 1px solid #eaeaea;
    }
    td {
      padding: 10px;
    }
  }
  .markdown-img-wpr {
    text-align: center;
    width: 80%;
    margin: 1em auto 2em;
    img{
      width: 100%;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 1.5em;
    color: #000;
  }
}
